body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table {
    position: relative;
    overflow: auto;
}

input:invalid {
    border-bottom: 1px solid color-error;
}

input:valid {
    border-bottom: 1px solid color-success;
}

input.visited.dirty:valid {
    border-bottom: 1px solid color-success;
}